<nav>
    <mat-toolbar class = "nav" >
    
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="toggleSideNav()" >
        <mat-icon>menu</mat-icon>
      </button>
      
      <span class="example-spacer"></span>
      <span> Drink Generator </span>
      <span class="example-spacer"></span>
      
      <!-- <button routerLink="Foods" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>fastfood</mat-icon>
      </button>
      
      <button routerLink="Dashboard" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>dashboard</mat-icon>
      </button> -->
    
    </mat-toolbar>
  </nav>
  
