

.example-spacer {
  flex: 1 1 auto;
}


.nav {
  width: 100%;
  position: sticky;
  top: 50px
}

.example-container {
  height: 100%;
  display: flexbox;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 30px;
}

